@import url('./card.css');
@import url('./Cart.css');
@import url('./Build.css');
:root{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
}
img{
    width: 350px;
    height: 350px;
}
.header{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.original_product{
    margin-left: 300px;
    margin-right: 350px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    border-radius:20px;
    justify-content:center ;
}

.speaker{
    width:400px;
    height: 200px;
}

.cpu{
    height:300px;
}

.mouse{
    height: 170px;
    width: 170px;
    position: relative;
    bottom: 100px;
}
.keyboard{
    width:600px;
    position: relative;
    left:25px
}

.joystick{
    height: 170px;
    width: 170px;
    position: relative;
    bottom: 100px;
}
.orginal_btn_cont{
    text-align: center;
    margin-top: 20px;
}
.original_product_btn{
    display: inline-block;
    padding: 15px 30px;
    background-color: #262826;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    justify-content: center;
}
.original_product_btn a{
    text-decoration: none;
    color: rgb(231, 231, 231); 
    font-weight: bold;
}