.select-parts-page {
    display: flex;
    justify-content: space-between;
  }
  
  .cards-container {
    width: 25%;
    overflow-y: auto;
    padding-bottom: 20px;
  }
  
  
  .card-content {
    padding: 10px;
  }
  
  .card-title {
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .image-section {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
    flex-wrap: wrap;
  }
  
  .product-header {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .product-images {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-image {
    width: 350px;
    height: 300px;
    margin: 10px;
  }
  
  .start-button-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .start-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #262826;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  .start-button a {
    text-decoration: none;
    color: rgb(231, 231, 231);
    font-weight: bold;
  }
  