img{
    width: 400px;
    height: 400px;
}
.original_product_header{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.original_product{
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    border-radius:20px;
    justify-content:center ;
}

.speaker{
    width:400px;
    height: 200px;
}

.cpu{
    height:350px;
}

.mouse{
    height: 200px;
    width: 200px;
    position: relative;
    bottom: 100px;
}
.keyboard{
    width:600px;
    position: relative;
}
.joystick{
    height: 200px;
    width: 200px;
    position: relative;
    bottom: 100px;
}